$neutral: #000000;
$neutral-0: #000000;
$neutral-20: #2E3038;
$neutral-50: #73778C;
$neutral-80: #C7C9D1;
$neutral-90: #E3E4E8;


$primary: #CD1DA7; 
$primary-0: #CD1DA7;

$secondary: #8BCF1E;
$secondary-0: #8BCF1E;


$success-80: #005929;
$success-50: #E8FFEE;