$neutral: #000000;
$neutral-0: rgb(0, 0, 0);
$neutral-10: rgba(0, 0, 0, 0.9);
$neutral-20: rgba(0, 0, 0, 0.8);
$neutral-30: rgba(0, 0, 0, 0.7);
$neutral-40: rgba(0, 0, 0, 0.6);
$neutral-50: rgba(0, 0, 0, 0.5);
$neutral-60: rgba(0, 0, 0, 0.4);
$neutral-70: rgba(0, 0, 0, 0.3);
$neutral-80: rgba(0, 0, 0, 0.2);
$neutral-90: rgba(0, 0, 0, 0.1);

$primary: rgb(205, 29, 167); 
$primary-0: rgb(205, 29, 167);
$primary-10: rgba(205, 29, 167, 0.9);
$primary-20: rgba(205, 29, 167, 0.8);
$primary-30: rgba(205, 29, 167, 0.7);
$primary-40: rgba(205, 29, 167, 0.6);
$primary-50: rgba(205, 29, 167, 0.5);
$primary-60: rgba(205, 29, 167, 0.4);
$primary-70: rgba(205, 29, 167, 0.3);
$primary-80: rgba(205, 29, 167, 0.2);
$primary-90: rgba(205, 29, 167, 0.1);

$secondary: rgb(139, 207, 30);
$secondary-0: rgb(139, 207, 30);
$secondary-10: rgba(139, 207, 30, 0.9);
$secondary-20: rgba(139, 207, 30, 0.8);
$secondary-30: rgba(139, 207, 30, 0.7);
$secondary-40: rgba(139, 207, 30, 0.6);
$secondary-50: rgba(139, 207, 30, 0.5);
$secondary-60: rgba(139, 207, 30, 0.4);
$secondary-70: rgba(139, 207, 30, 0.3);
$secondary-80: rgba(139, 207, 30, 0.2);
$secondary-90: rgba(139, 207, 30, 0.1);


$success-80: #005929;
$success-50: #E8FFEE;